@import "inter-ui/inter.css";

* { font-family: "Inter", "system-ui"; }

body { background-color: white; font-size: 5vmin; }

.grid { display: grid; justify-content: center; align-items: center; grid-template-rows: auto; }
.grid > * { text-align: center; }